body {
    font-family: Arial, sans-serif;
    text-align: center;
    line-height: 1.6;
    color: #1d0707;
}

.title-blue {
    color: #1e90ff;
    text-transform: capitalize;
}

.doctor-card {
    padding: 20px;
    transition: background-color;
    margin-bottom: 20px;
}
.doctor-card img {
    width: 200px;
}

.doctor-name {
    color: #1e90ff;
    margin-bottom: 5px;
}

.divider {
    border: 0;
    border-top: 1px solid #ddd;
    width: 80%;
    margin-top: 30px;
}
