footer {
    background-color: #7fbaf5;
    color: white;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    padding: 15px;
    width: 700px;
    margin: 50px auto;
}

footer a {
    color: white;
    text-decoration: underline;
}
